.container {
  width: 150px;
  height: 225px;
  transition: 300ms ease-in;
  user-select: none;

  &:hover {
    width: 179px;
    height: 291px;
    box-shadow: 0px 0px 10px #9747ff23;
  }


  &.active {
    width: 47.73vw !important;
    height: 77.6vw !important;
  }

  .wrapperImage {
    position: relative;
    width: 100%;
    height: 100%;


    img {
      border-radius: 6px;
    }
  }
}


/*MEDIA QUERY 
--------------------------*/
@media screen and (min-width: 768px) {
  .container {
    width: 190px;
    height: 284px;

    &:hover {
      width: 210px;
      height: 314px;
    }
  }
}