/*CONTAINER 
--------------------------*/
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.75rem;
  width: 110px;

  .photo {
    position: relative;

    img {
      border-radius: 50%;
    }
  }


  .wrapperName {
    display: flex;
    flex-direction: column;

    .name {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .nameCharacter {
      font-size: 0.875rem;
      font-weight: 300;
      text-align: center;
      width: 100%;
    }
  }
}